<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个dao/mapper接口-->
<mapper namespace="com.zzl.dao.IUserDao">

    <select id="getUserList" resultType="com.zzl.domain.User">
      select * from user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.zzl.domain.User">
        select * from user where useid=#{id}
    </select>
</mapper>